h1{
    text-align: center;
    text-transform: uppercase;
}


.grille {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 10px;
}
.case {
    width: 300px;
    height: 200px;
    background: #333;
}

